* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    caret-color: transparent;
    outline: none;
}
/* ------------- header --------------- */

.medium-logo {
    width: 100%;
    height: auto;
    width: 50px;
    cursor: pointer;
}

.header {
    display: flex;
    padding: 7px 22px;
    align-items: center;
    border-bottom: 1px solid rgba(211, 211, 211, 0.256);
}

.search-bar {
    position: relative;
    display: flex;
}

.search-bar input {
    border: 0;
    background-color: #fcfcfc;
    text-indent: 18%;
    margin-left: 15px;
    border-radius: 15px;
    font-size: 14px;
    width: 240px;
    height: 40px;
    caret-color: auto;
    outline: none;
}

.bi-search {
    position: absolute;
    top: 50%;
    left: 27px;
    transform: translateY(-50%);
    font-size: 18px;
    color: gray;
}

.bi-bell {
    font-size: 24px;
    color: rgba(128, 128, 128, 0.637);
    cursor: pointer;
    padding-right: 35px;
}

.header img {
   width: 32px;
   height: 32px;
   cursor: pointer;
   border: 1px solid lightgrey;
   border-radius: 50%;
}

.post-button {
    display: flex;
    margin-left: auto;
    padding-right: 35px;
    align-items: center;
    cursor: pointer;
}

.post-button p {
    color: gray;
    padding-left: 7px;
    margin: 0;
    font-size: 14px;
}

/* ---------------- content --------------*/

.content {
    display: flex;
    width: 100%;
    justify-content: center;
}

.content-body {
    display: flex;
    width: 100%;
    max-width: 1336px;
    justify-content: space-evenly;
}

.post-col {
    max-width: 1336px;
}

.side-bar {
    max-width: 368px;
}

.link-col {
    padding: 40px 40px;
    padding-right: 24px;
    border-left: 1px solid rgba(211, 211, 211, 0.256);
}

.link-col h3 {
    padding-bottom: 20px;
    margin: 0;
    font-weight: 650;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.699);
    cursor: pointer
}

.link-col a {
    color: rgb(93, 161, 90);
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
}

.link-col a:hover {
    color: rgb(104, 104, 104);
}

/* ---------------- staff-picks-row --------------*/

.staff-picks-post {
    max-width: 303px;
}

.staff-picks-post-user {
    height: 28px;
}

.staff-picks-post-user img {
    border-radius: 50%;
    flex-shrink: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
}   

.link-col .staff-picks-post-user a {
    display: flex;
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.staff-picks-post-user p {
    padding-left: 7px;
}

.staff-picks-post-user span {
    color: gray;
    cursor: auto;
}

.staff-picks-post h3 {
    font-weight: 750;
    color: black;
}

.staff-picks-post-user {
    display: flex;
}

.staff-picks-post-time-stamp p {
    font-size: 13px;
    color: #6b6b6b
}

.staff-picks-post-time-stamp {
    display: flex;
}

/*--------------- discover row -------------*/

.discover-row {
    width: 303px;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.395);
}

.discover-logo {
    display: flex;
    align-items: center;
    justify-content: center
}

.medium-logo, .plus-sign, .twitter-logo {
    cursor: auto;
    margin-right: 0;
}

.discover-row h2 {
    color: #000000CC;
    font-size: 16px;
    font-weight: 400;
    max-width: 243px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.discover-row button {
    background-color: white;
    width: 100%;
    height: 42px;
    border-radius: 20px;
    border-width: 1.5px;
    margin-bottom: 20px;
}

.discover-row a {
    color: #6b6b6b;
    font-weight: 450;
    text-decoration: underline;
}

/*--------------- recommended row -------------*/

.recommended-row {
    margin-top: 40px;
}

.recommended-row button {
    border: none;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 18px;
    margin-bottom: 10px;
}

.recommended-row a {
    display: block;
    margin-top: 14px;
}

/*--------------- follow row -------------*/

.follow-row {
    margin-top: 40px;
}

.follow-row img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.follow-row h3 {
    margin: 0;
    padding: 0;
    font-weight: 650;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.699);
}

.follow-row p {
    font-size: 13px;
    margin-top: 6px;
    margin-bottom: 0;
    color: #6b6b6b;
}

.follow-user {
    display: flex;
    padding-top: 16px;
}

.follow-user-info {
    margin-left: 16px;
    margin-right: 8px;
    width: 173px;
}

.follow-user-button {
    display: flex;
    align-items: center;
}

.follow-user button {
    width: 66px;
    height: 32px;
    background-color: white;
    padding: 5px 12px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 14px;
}

.follow-row a {
    display: block;
    margin-top: 24px;
}

/*--------------- link col footer --------------*/

.link-col-footer {
    padding: 24px 0px;
}

.link-col-footer-row {
    height: 16px;
}

.link-col-footer a {
    display: inline-block;
    margin-right: 6px;
    height: 16px;
    font-size: 11px;
    color: #6B6B6B
}







/*---------------- post col -------------*/

.post-col {
    width: 728px;
}

/*-------------- post genre row ----------*/

.post-genre-row {
    background-color: white;
    display: flex;
    margin: 24px 24px 0 24px;
    padding-top: 16px;
    width: 680px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.395);
    position: sticky;
    top: 0;
}

.post-genre-row button {
    background-color: white;
    margin: 0 24px 0 0;
    padding-bottom: 16px;
    font-size: 14px;
    color: #6B6B6B;
    font-weight: 400;
    height: 37px;
    border: 0;
}

.post-genre-row button:hover {
    color: black;
}

.post-genre-row button:focus {
    color: black;
    border-bottom: 1px solid black;
}

/*------------- posts --------------*/

.post {
    padding: 24px 24px 0 24px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.395);
}

.post-row {
    padding-top: 26px;
}

.post-img {
    margin-left: 60px;
}

.post-img img {
    width: 112px;
    height: 112px;
}

.post-user {
    display: flex;
}

.post-user img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.post-user p {
    font-size: 14px;
    margin: 0 0 0 8px;
}

.post-user span {
    color: #6B6B6B;
}

.post-body {
    display: flex;
}

.post-content {
    max-width: 680px;
}

.post-text {
    max-width: 508px;
}

.post-content h3 {
    font-size: 20px;
    font-weight: 750;
    margin-top: 10px;
}

.post-content p {
    margin: 0;
}

.post-bar {
    display: flex;
    align-items: center;
    padding: 32px 0;
    height: 105px;
    max-width: 508px;
}

.post-bar p {
    font-size: 13px;
    color: #6B6B6B;
    margin: 0;
}

.post-tag {
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 2px 8px;
    font-size: 13px;
    margin: 0 8px 0 0;
    border: 0;
}

.post-bar-tools {
    margin-left: auto;
}

.post-bar-tools button {
    border: none;
    background-color: white;
}

.post-bar-tools svg{
    color: #6b6b6b;
}